.gradle/
build/
**/build/
local.properties
*.iml
.idea/
.DS_Store
xcuserdata/
iosApp/iosApp.xcodeproj/xcuserdata/
iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/
captures/
*.keystore
!debug.keystore
